<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag('logo/webuyanystairlift_logo.png'), root_path, class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to 'Home', root_path %>
                </li>
                <li>
                    <%= link_to 'About Us', '/about-us' %>
                </li>
                <li>
                    <%= link_to 'Selling Your Stairlift', '/selling-your-stairlift' %>
                </li>
                <li>
                    <%= link_to 'Areas Covered', '/areas-covered' %>
                </li>
                <li>
                    <%= link_to 'Contact Us', '/contact-us' %> 
                </li>
            </ul>
            <a class="phone-header" href="tel:0800 177 7266">0800 177 7266</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>