<% provide(:title, 'Stairlift and Used Stairlift Removal UK | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We cover the whole of the UK (excluding Scotland) so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <%= image_tag 'stairlift_main.jpg', class: 'img-responsive', alt: 'Stairlift Main' %>
                        <!-- <div class="carousel-caption">
                            <h3>Caption Text</h3>
                        </div> -->
                    </div>
                    <div class="item">
                        <%= image_tag 'stairlift_2.png', class: 'img-responsive', alt: 'Stairlift 2' %>
                        <!-- <div class="carousel-caption">
                            <h3>Caption Text</h3>
                        </div> -->
                    </div>
                    <div class="item">
                        <%= image_tag 'stairlift_3.png', class: 'img-responsive', alt: 'Stairlift 3' %>
                        <!-- <div class="carousel-caption">
                            <h3>Caption Text</h3>
                        </div> -->
                    </div>
                    <div class="item">
                        <%= image_tag 'stairlift_4.png', class: 'img-responsive', alt: 'Stairlift 4' %>
                        <!-- <div class="carousel-caption">
                            <h3>Caption Text</h3>
                        </div> -->
                    </div>
                    <div class="item">
                        <%= image_tag 'stairlift_5.png', class: 'img-responsive', alt: 'Stairlift 5' %>
                        <!-- <div class="carousel-caption">
                            <h3>Caption Text</h3>
                        </div> -->
                    </div>
                </div>
            </div> <!-- Carousel -->
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift.</h2>
            <p>Have your stairlift removed <strong>quickly</strong> and <strong>efficiently</strong>. If you are living in the UK and have a stairlift which is no longer required, we can help you. Contact us today and we will take your used stairlift and remove it for free!</p>
            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12 mtop">
            <p>We pride ourselves on professional, quick and efficient removals. With over 20 years’ experience in this industry, we know that it is important to our customers that their used stairlift is removed safely without any risk of damage to their home. That’s why we offer a completely free removal service by fully qualified NVQ Level 2 lift engineers. Our engineers are also DBS checked and pay you the fairest price for your used stairlift. Our comprehensive removal service covers a range of different makes and models of stairlifts, so get in touch today to see what we can do for you!</p>
            <p>We cover the whole of the UK (excluding Scotland) meaning whatever the location may be, we ensure that our customers have access to our free, fast and professional removal service. We can give you an exact removal time and prompt payment, making us the best choice to deal with your used and unwanted stairlifts.</p>
            <p></p>

        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">

        <div class="col-lg-12">
            <div class="text-center">
                <h1 class="mtop-none">Latest Feedback</h1>
            </div>
        </div>

    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-sm-4">
            <h4>Mr Jason Scales, Manchester</h4>
            <p>Absolute pleasure to deal with, paid before collected and Paul knew exactly what he was doing. Great to deal with and a fair price paid.</p>
            <div class="rating mobile-mbottom">
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star', alt: 'star rating' %>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-sm-4">
            <h4>Mr Ed McN-Davis, Moreton-in-Marsh</h4>
            <p>Excellent, fast and efficient unwanted stair-lift removal service with professional and courteous operatives. Very quick and easy to arrange. Turned up on time too.</p>
            <div class="rating mobile-mbottom">
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star', alt: 'star rating' %>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-sm-4">
            <h4>Mr Dave Potts, Manchester</h4>
            <p>Brilliant service. Agreed to visit next day and arrived at time agreed. Paid me cash on arrival and removed the stairlift in about 40 minutes, with no mess. Highly recommended - a truly professional service. A++++ </p>
            <div class="rating">
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star', alt: 'star rating' %>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

       <!-- Content Row -->
    <div class="row feedback-row">
        <div class="col-sm-4">
            <h4>Ms Beverly Tomkins, Liverpool</h4>
            <p>A fantastic service - thank you. One call to enquire and the stairlift was removed with no mess or disruption in less that 24 hours. A much needed and appreciated help at this difficult time.</p>
            <div class="rating mobile-mbottom">
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star', alt: 'star rating' %>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-sm-4">
            <h4>Mr David Pester, Halifax</h4>
            <p>Great service, got back to me within the hour, arrived exactly on time, lift removed with care. Nice chap...</p>
            <div class="rating mobile-mbottom">
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star', alt: 'star rating' %>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-sm-4">
            <h4>Ms Doreen Hargreaves, Brierfield</h4>
            <p>A fair price was agreed on the phone.
                He came on time and the paid agreed price in cash on arrival. He took the stairlift out in about half an hour, with no damage to my decorations.
                Nice pleasant man, I wish all buyers were so good to work with.</p>
            <div class="rating">
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star mright', alt: 'star rating' %>
                <%= image_tag 'star.png', class: 'img-responsive star', alt: 'star rating' %>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
