<% provide(:title, 'Sell My Stairlift | We Buy Your Unwanted Stairlifts | We Buy Any Stairlifts, UK') %>
<% provide(:description, 'Sell your unwanted stairlift for cash with We Buy Any Stairlift! We offer customers a free removal service, so call us today on 0800 177 7266 to find out more.') %>

<div class="container">

	<div class="row">

		<div class="col-lg-12">

			<h1>Can you Remove my Stairlift?</h1>

			<hr class="mfifteen">

			<p>Dependant on the type of stairlift and overall condition, we can give you the best price for your stairlift. If you are thinking of using our services, please see below if your stairlift qualifies for a free removal.
			</p>

			<p>We remove and buy the following stairlifts:</p>


		</div>

	</div>

	<div class="row text-center">

		<div class="col-md-5ths col-sm-4 col-xs-6">
			<h5>ThyssenKrupp Flow2</h5>
			<%= image_tag 'selling/thysep.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6">
			<h5>Acorn 180 Curved</h5>
			<%= image_tag 'selling/acorn-180.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6 mobile-mtop">
			<h5>Acorn 130 Slimline</h5>
			<%= image_tag 'selling/acorn-130.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6 tablet-mtop mobile-mtop">
			<h5>Minivator 950</h5>
			<%= image_tag 'selling/minivator-950.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6 tablet-mtop mobile-mtop">
			<h5>Minivator 2000</h5>
			<%= image_tag 'selling/minivator-2000.jpg', class: 'img-responsive stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6 desktop-mtop tablet-mtop mobile-mtop">
			<h5>Stannah 600</h5>
			<%= image_tag 'selling/stannah-600.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6 desktop-mtop tablet-mtop mobile-mtop">
			<h5>Stannah 260</h5>
			<%= image_tag 'selling/stannah-260.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6 desktop-mtop tablet-mtop mobile-mtop">
			<h5>Stannah 420</h5>
			<%= image_tag 'selling/stannah-420.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>

		<div class="col-md-5ths col-sm-4 col-xs-6 desktop-mtop tablet-mtop mobile-mtop">
			<h5>Brooks Slimline</h5>
			<%= image_tag 'selling/brooks.jpg', class: 'img-responsive img-rounded stairlift-sell', alt: 'We Cover The Whole Of The UK!' %>
		</div>


	</div>
