<% provide(:title, 'Stairlift and Used Stairlift Removal Accrington | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Accrington area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Accrington</h2>
            <p>Accrington, more so known as ‘Accy’ to locals, is a town in Lancashire not far from Blackburn and Preston. Many of the residents use and recommend We Buy Any Stairlift for any stairlift removals.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Accrington.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Accrington' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
            <h3 class="home-subtitle">Our recent work in Accrington</h3>
            <p>In May this year we were contacted by a lady who had bought a new property which contained a Stannah 260 stairlift. Our customer was unsure on the model of stairlift, and could not confirm the age or condition. Our team advised the customer to send photographs to us, and we were able to give her some advice and an accurate quote immediately.</p>

            <p>It was important to our customer to have the stairlift removed as quickly as possible, so that she could resume the remodelling and decorating of her new property. We were able to meet this expectation and arrange an appointment for the stairlift removal within 3 working days.</p>

            <p>Here’s what our Accrington customer had to say:</p>

            <p>“We Buy Any Stairlift did a brill job and the man that came was polite and cleaned up after himself. Good deal offered and came out the same week. Would definitely recommend to anyone that needs a removal.”</p>

            <p>Sarah, Accrington</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Accrington' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Accrington' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
