<% provide(:title, 'Stairlift and Used Stairlift Removal Alderley Edge | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Alderley Edge area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Alderley Edge</h2>
            <p>Alderley Edge is a glamourous village within Cheshire, known for its wonderful expensive houses and designer shops, which falls within 3Cheshire’s ‘Golden Triangle’. Although it may be known for its ‘glam’ factor, mobility within the home is still a present issue in the area. We Buy Any Stairlift have had the pleasure to help many homeowners adapt their homes to suit their lifestyle and keep their independence, and their home.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Alderley Edge.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Alderley Edge' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
          <h3 class="home-subtitle">Our recent work in Alderley Edge</h3>
          <p>We helped a customer who had a beautiful three storey house in Alderley Edge, which had become a struggle for the customer’s mother who resided with her family. A lift had been fitted years prior but had become useless due to her changing mobility requirements. Jeannette contacted us to get some advice as she did not want to pay for a removal, as the money was required for a new stairlift. Thankfully, we removed the stairlift quickly for her and offered her a cash deal which would help her afford the new stairlift.</p>

          <p>“I cannot thank you enough for all you’re hard work. The whole process was stress free and my house was kept clean and tidy and no damage or mess left behind. I couldn’t recommend the gentleman that came enough. We can now get a newer stairlift fitted for Mum. Absolutely wonderful!”</p>

          <p>Jeannette, Alderley Edge</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Alderley Edge' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Alderley Edge' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
