<% provide(:title, 'Stairlift and Used Stairlift Removal Alfreton | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Alfreton area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Alfreton</h2>
            <p>Alfeton is a medium sized down within Derbyshire, known for its coal mining industry and of course the chocolate manufacturer ‘Thorntons’. We have had the pleasure of meeting many clients that live and work in this area, and provide adaptions to meet their mobility requirements.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Alfreton.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Alfreton' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
            <h3 class="home-subtitle">Our recent work in Alfreton</h3>
            <p>We attended a job for a gentleman in Alfreton that made it clear they needed a quick and easy solution to their stairlift problem. The customers requirements were that they were able to get a good price, get an appointment quickly, and have a reliable quick service so that he was able to continue to run his business without disrupt to his schedule. We Buy Any Stairlift was able to deliver this, and more to meet his expectations.</p>

            <p>“I can’t fault We Buy Any Stairlift. Quick, easy, good price. 10/10 would recommend”</p>

            <p>Steve, Alfreton</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Alfreton' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Alfreton' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
