<% provide(:title, 'Stairlift and Used Stairlift Removal Alsager | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Alsager area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Alsager</h2>
            <p>Alsager is a town within Cheshire East known for its lake right in the centre, and also the summer carnival. It is a vibrant town full of diversity, and We Buy Any Stairlift have had the pleasure to be one of the top stairlift removal company’s, used and approved by Alsager residents.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Alsager.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Alsager' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
            <h3 class="home-subtitle">Our recent work in Alsager</h3>
            <p>We recently attended this wonderful town to attend to a customer who had some disabilities and had been advised by her occupational therapist to remove her current model of stairlift and have a replacement fitted to suit her needs. She called us for some advice and we were able to find out the model and condition of the stairlift and offer her a fair and reliable price for her lift. Mary was happy with our advice and our offer, and we were able to remove the stairlift in question within 5 working days.</p>

            <p>“I am honestly so pleased with them [We Buy Any Stairlift], they have been so lovely but very professional. The actual removal was very quick and professional especially.”</p>

            <p>Mary, Alsager</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Alsager' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Alsager' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
