<% provide(:title, 'Stairlift and Used Stairlift Removal Altrincham | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Altrincham area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Altrincham</h2>
            <p>Once a quiet market town, now a booming and growing area within Trafford. Altrincham is a very popular location for those wanting Stairlift removals, due to young person’s renovating spaces for use which is close to Manchester City Centre for commuting. Why not get some cash back for your unwanted stairlift?</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Altrincham.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Altrincham' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent work in Altrincham</h3>
            <p>We visited a lovely couple who lived in the Altrincham area, who had acquired a new property to renovate. Unfortunately for them, a stairlift remained in the property and they had to dispose of it. Having no idea what to do, they reached out to our company after visiting our website to which we advised them of the model and what we could offer them for it, including a free removal. The couple were delighted as their expectation was set low, and they were able to get a great deal despite being told they would have to pay for a removal service by several other companies. See below what our customer had to say.</p>

            <p>“We honestly didn’t think we would get anything for the stairlift, it was left by the last owner. We were so happy we called We Buy Any Stairlift, we managed to get £200.00 back when another company was going to charge nearly that just to remove it. The service was very professional.”</p>

            <p>James, Altrincham</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Altrincham' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Altrincham' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
