<% provide(:title, 'Stairlift and Used Stairlift Removal Ashbourne | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Ashbourne area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Ashbourne</h2>
            <p>Ashbourne is a popular market town containing many historic buildings. Due to the high quantity of historic and listed buildings, We Buy Any Stairlift has become a trusted removal company within the area, due to our experience removing stairlifts in all types, shapes and ages of buildings.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Ashbourne.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Ashbourne' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent work in Ashbourne</h3>
            <p>We took a call from a nervous customer who needed a stairlift removal but were extremely cautious of letting anyone into their home due to a home theft incident. Our advisers were able to put him to ease and explain how our process works, and what would happen if he chose to use our service. We were able to re-assure our customer to the point he was satisfied to use our services.</p>

            <p>“I was nervous about letting someone into the house but they were professional and trustworthy. Genuine company that does what it says on the tin. No problems with them so I would use again if needed.”</p>

            <p>Keith, Ashbourne</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Ashbourne' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Ashbourne' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
