<% provide(:title, 'Stairlift and Used Stairlift Removal Ashton-Under-Lyne | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Ashton-Under-Lyne area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Ashton-Under-Lyne</h2>
            <p>Ashton-Under-Lyne is a market town, which was once famous for its trades, including one of the largest outdoor markets in the whole of the UK. It has also become one of our most popular locations for stairlift removals due to ever changing mobility needs.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Ashton-Under-Lyne.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Ashton-Under-Lyne' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent work in Ashton-Under-Lyne</h3>
            <p>We had a customer who called us last minute as he has already arranged for another company to come and remove and collect it at no cost, but asked what we would offer. We were happy to advise that we could offer him cash for his stairlift and could arrange for someone to come out same day as we had another job close by. We were also able to re-assure him that our company could provide a secure removal by professionals and a clean-up included, rather than letting a company in who could potentially damage his home or belongings.</p>

            <p>“I got a really good deal for the lift, I was tempted to scrap it but glad we decided to get a professional in because he seemed to know what he was doing. Happy to recommend”</p>

            <p>Malcolm, Ashton-Under-Lyne</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Ashton-Under-Lyne' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Ashton-Under-Lyne' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
