<% provide(:title, 'Stairlift and Used Stairlift Removal Audlem | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Audlem area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Audlem</h2>
            <p>Audlem is a particularly large village in Cheshire, it is a peaceful place but mobility concerns have been more present in recent years. We have had many customers request stairlift removals to replace their current model, as well as removals due to redundant usage. </p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Audlem.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Audlem' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent work in Audlem</h3>
            <p>Our customer called to get some advice as had some issues with our stairlift removal companies that had been contacted. Other companies had not given straight answers, one actually turning up and then demanding a pre-payment before any stairlift removed which was not advised prior. We were able to advise Alice, and explain the way we work and exactly what would happen on the day. She provided photographs so we were able to determine the brand, model and condition and offer an accurate cash offer, which was guaranteed until Alice received it.</p>

            <p>“Very impressive, quote that was given to me was bang on what I was paid. Usually there are hidden charges and removal deducted but they were honest about the brand and model and what they could offer me from the beginning. Not been messed about unlike other companies I spoke to.”</p>

            <p>Alice, Audlem</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Audlem' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Audlem' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
