<% provide(:title, 'Stairlift and Used Stairlift Removal Barnsley | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Barnsley area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Barnsley</h2>
            <p>Barnsley is a large town in South Yorkshire well known for its coal mining industry. Due to Barnsley being modernised during recent years, we have had a surge of stairlift removal requests in this area. We Buy Any Stairlift is based in West Yorkshire so we are able to come out quickly and remove your stairlift ASAP.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Barnsley.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Barnsley' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent jobs in Barnsley</h3>
            <p>We received an email enquiry directly through our website from a customer located in Barnsley who wanted to get a straight forward, no catch quote for removal service. He sent us pictures of the lift identified that he wanted removing, not knowing the brand or model. We were able to identify the lift and give him some straight forward advice based on the information provided. Our customer was happy with the information and the quote received. He let us know that a few other companies were charging into the hundreds for removal where as we were able to offer cash without any removal charges.</p>

            <p>“Thank you to We Buy Any Stairlift for coming out quickly and sorting our removal. Great price offered and top notch service.”</p>

            <p>Joe, Barnsley</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Barnsley' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Barnsley' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
