<% provide(:title, 'Stairlift and Used Stairlift Removal Barrow | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Barrow area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Barrow-In-Furness</h2>
            <p>Known to locals as Barrow, this is a modern day town located close by the Lake District. Many of the residents use and recommend We Buy Any Stairlift for any stairlift removals.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Barrow.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Barrow' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent work in Barrow-In-Furness</h3>
            <p>We had a customer reach out to us through a local leaflet advertisement, who had been gathering different quotes for a stairlift removal. He was honest in his intent to look around at various companies before making any commitments. As our advice and quote service is completely free and no obligation, we were able to give him some expert information on the condition and age of the lift he intended to remove, as well as some realistic expectations on what he could achieve for the lift. After looking around at other companies, our customer came back to us to book the removal which we were able to book in within 2 working days, at his convenience.</p>

            <p>“Brilliant price, no other companies I spoke to could beat it and got the job done quickly.”</p>

            <p>Mark, Barrow-In-Furness</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Barrow' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Barrow' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
