<% provide(:title, 'Stairlift and Used Stairlift Removal Barry | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Barry area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Barry</h2>
            <p>Barry, located in the Vale of Glamorgan, Wales, is a town on the north coast near Cardiff. Although a small town Barry was once the largest coal port in the world. Barry has many steep buildings meaning stairlifts have been very popular in the area, although removals are always required due to upgrades and changed in circumstances.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Barry.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Barry' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent custom in Barry</h3>
            <p>We had a call from a concerned potential customer who had been let down by a company who was due to remove his lift, but failed to attend the appointment. He has been let down and was on a deadline to have the stairlift removed, so that a newer and more suitable model of lift could be fitted. We were able to prioritise this job based on the customer’s urgent need, and remove the stairlift within 2 working days.</p>

            <p>“I needed to get rid of my lift but companies were quoting waiting times of 2-3 weeks. We Buy Any Stairlift came out in a few days and it took less than an hour. Very happy with them.”</p>
            <p>Wynny, Barry</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Barry' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Barry' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
