<% provide(:title, 'Stairlift and Used Stairlift Removal Bath | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Bath area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Bath</h2>
            <p>Bath is well known, and the largest city in Somerset. It was once known for its roman-build baths. We Buy Any Stairlift have had the pleasure to help many homeowners in the area remove their stairlift to adapt to their lifestyle and needs.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Bath.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Bath' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Some of our recent work in Bath</h3>
            <p>A customer contacted us who was looking to replace her current model (Acorn 180) to an updated version which would suit her better and improve her mobility and thus her quality of life. We were able to give her some friendly advice on what she could expect both price and service wise. After explaining our process in detail, she was more than happy to book a removal with We Buy Any Stairlift. </p>

            <p>Our customer advised us how happy she was with our service, and our friendly helpful attitude, as you can see from the below feedback.</p>

            <p>“I couldn’t be more pleased. Excellent service, and I got a good price for my used stairlift which can go towards my new lift that suits me more.”</p>

            <p>Janet, Bath</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Bath' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Bath' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
