<% provide(:title, 'Stairlift and Used Stairlift Removal Biddulph | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Biddulph area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Biddulph</h2>
            <p>Biddulph is a town Staffordshire which is very popular with our client base. We have had many customers request stairlift removals to replace their current model, as well as removals due to redundant usage.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Biddulph.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Biddulph' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our work in Biddulph</h3>
            <p>A lady contacted us looking for a full service that would take care of all the work, without any stress due to a bereavement in the family which is why the removal was required. We booked her an appointment, attended on time and removed the stairlift without any damage or fuss. Our engineer even cleaned up all the mess to make it easier for our customer. So in the end, the customer could receive the cash and had her stairlift removed quickly with no added stress.</p>

            <p>“Thank you to all the staff you made it easy and stress free.”</p>

            <p>Catherine, Biddulph</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Biddulph' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Biddulph' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
