<% provide(:title, 'Stairlift and Used Stairlift Removal Birmingham | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Birmingham area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Birmingham</h2>
            <p>Have your stairlift removed <strong>quickly</strong> and <strong>efficiently</strong>. If you are living in Birmingham and have a stairlift which is no longer required, we can help you. Contact us today to receive a best price quote for your used stairlift, and arrange to have it removed and collected from your home free of charge. No mess, No fuss.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Birmingham.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Birmingham' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
            <p>We pride ourselves on professional, quick and efficient removals. With over 20 years’ experience in this industry, we know that it is important to our customers that their used stairlift is removed safely without any risk of damage to their home. That’s why we offer a completely free removal service by fully qualified NVQ Level 2 lift engineers. Our engineers are also DBS checked, so you can feel safe and reassured.</p>

            <p>We also pay you the fairest price for your used stairlift. Our comprehensive removal service covers a range of different makes and models of stairlifts, so get in touch today to find out what yours could be worth!</p>

            <p>We specialise in Stairlift removals in the Birmingham area meaning we have great local knowledge and can ensure that our customers have access to our free, fast and professional removal service. We can give you an exact removal time and prompt payment, making us the best choice to deal with your used and unwanted stairlifts.</p>

            <p>We Buy Any Stairlift Birmingham is a trading arm of We Buy Any Stairlift. We provide five-star service to all our customers across England and Wales.</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Birmingham' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Birmingham' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->