<% provide(:title, 'Stairlift and Used Stairlift Removal Blythe Bridge | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Blythe Bridge area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Blythe Bridge</h2>
            <p>Blythe Bridge is a small village that is south-east of Stoke-On-Trent. We are currently seeking stairlifts in this location – we are offering excellent prices for all removals. Do you have an unwanted stairlift in Blyth Bridge? Don’t hesitate to get in touch today!</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Blythe Bridge.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Blythe Bridge' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Here’s what happened in our last Blythe Bridge job</h3>
            <p>A customer from Blythe Bridge contacted us for a straight forward, accurate quote for our services. The customer told us their budget and timescale of when they would like the removal to take place. We were able to succeed our customer’s expectations by offering a free service with the bonus of a cash payment on the appointment. As the feedback reflects, we were in and out of the property within 30 minutes for this removal and made sure the area was tidied ready for the customer to get on with their busy life.</p>

            <p>“Very professional staff. The engineer that came knew what he was doing and did a quick job. Only took 30 minutes and got paid cash straight away.” </p>

            <p>Corey, Blyth Bridge</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Blythe Bridge' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Blythe Bridge' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
