<% provide(:title, 'Stairlift and Used Stairlift Removal Bradford | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Bradford area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Bradford</h2>
            <p>Bradford is a vibrant, large city within West Yorkshire nestled between Leeds and Wakefield. It is known for its many attractions such as the Alhambra Theatre and Nation Science and Media museum. Within such a popular city like Bradford, come many loyal customers who use We Buy Any Stairlift to get the best deals on stairlift removal.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Bradford.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Bradford' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our recent work in Bradford</h3>
            <p>Being local to our main office, our customer contacted us to arrange a stairlift removal. She was keen on having it removed either the same day, or as soon as possible. Since we were nearby and had an experienced engineer available, we were able to arrange for this within a two hour window of our customer calling. Our customer was delighted with the timescales and at the easy, no fuss process. </p>

            <p>“Very happy with the professionals here, you were very kind and it was easy to do. Thank you for your help.”</p>

            <p>Nihida, Bradford</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Bradford' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Bradford' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
