<% provide(:title, 'Stairlift and Used Stairlift Removal Bridgemere | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Bridgemere area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Bridgemere</h2>
            <p>Bridgemere is a small village in Cheshire, England, close to Crewe. We are currently seeking clients in this location and offering competitive prices for all removals in this area. Don’t hesitate to get in touch today!</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Bridgemere.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Bridgemere' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our previous jobs in Bridgemere</h3>
            <p>The below customer contacted us a few months prior to get some general advice regarding a stairlift removal. He had done research on the market and provided us with information such as that the model was a Minivator 2000 and that it was purchased 2 years ago but was no longer needed due to an unfortunate loss. We gave him a cash price reflective of the lift and condition (he was kind enough to provide photos for a more accurate quotation) and the customer was happy to accept, as he knew what other companies were also offering.</p>

            <p>“If you are looking for a reliable company to take care of a stairlift removal, I recommend We Buy Any Stairlift. Give excellent advice and good price offered.”</p>

            <p>Liam, Bridgemere</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Bridgemere' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Bridgemere' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
