<% provide(:title, 'Stairlift and Used Stairlift Removal Bridgnorth | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Bridgnorth area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Bridgnorth</h2>
            <p>Bridgnorth is a beautiful town in Shropshire split in the middle by the Severn Valley, creating both the upper town on the right, and the lower town on the left. Our customers in this area have provided brilliant feedback and highly recommend us for stairlift removals.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Bridgnorth.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Bridgnorth' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our jobs in Bridgnorth</h3>
            <p>A lady contacted us to have her old unwanted stairlift removed. She had decided to upgrade to a newer, more modern model that suited the style of her home better and was not an eyesore. Like many of our other customers, she had contacted local companies who were offering to remove her lift at a charge of around £300.00 which is unfair on the customer considering how much a new stairlift can cost.</p>

            <p>We Buy Any Stairlift arranged to remove and dispose of the old stairlift at a date that suited her, so that she would not be without a stairlift waiting for her new one to be installed.</p>

            <p>“Couldn’t be happier. I really needed to get rid of my old one to get a new one and was looking at a waiting list with other companies and was going to get charged.”</p>

            <p>Anne, Bridgnorth</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Bridgnorth' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Bridgnorth' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
