<% provide(:title, 'Stairlift and Used Stairlift Removal Bridgend | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Bridgend area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Bridgend</h2>
            <p>Bridgend or known to locals as Pen-y-bont ar Ogwr is a town in Wales, west of Cardiff and East of Swansea. We are currently seeking stairlifts in this region. If you have any unwanted stairlifts and would like to get a free quote, please get in touch.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Bridgend.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Bridgend' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our work in Bridgend</h3>
            <p>One of our friendly engineers went out to visit a customer in her home to remove her unwanted stairlift which was no longer required due to some successful operations and physiotherapy. We attended the appointment on time, and was able to give our customer a window of approximate timescales so she knew what to expect and plan the rest of her day. When the job was done and all went smoothly, our engineer also cleaned up all debris to make it easier for the customer to get on with the day without any mess to deal with.</p>

            <p>“A lovely man came out to see me and the lift was removed in less than an hour. No damage or mess left behind and he was very respectful. I would use this company again.”</p>

            <p>Maggie, Bridgend</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Bridgend' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Bridgend' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
