<% provide(:title, 'Stairlift and Used Stairlift Removal Buckley | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Buckley area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Buckley</h2>
            <p>Buckley is a town and community in North-east Wales, located in Flintshire. Wales has become very popular in general for stairlift removals, and we are looking for even more customers to pay cash for their unwanted or unused stairlift.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Buckley.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Buckley' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our previous work in Buckley</h3>
            <p>A lovely customer contacted us with a sad story, his wife had passed away not long after purchasing a stairlift and it was no longer needed. The customer reached out to see if he could make some of the money back as the lift was an expensive purchase. Thankfully, our experts were able to identify the stairlift in question and give the customer an honest quote based on the information provided. The customer was extremely pleased as he was expecting to lose even more money for the removal, and also recommended our services to a neighbour in a similar predicament.</p>

            <p>“After my wife passed we didn’t need the stairlift anymore so I got in touch. Happy with the chap that came, very polite and made sure there was no mess or damage in my house. I recommended to my neighbours who also needed a removal arranging after they told it would cost £200.00 just to remove.”</p>

            <p>Norman, Buckley</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Buckley' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Buckley' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
