<% provide(:title, 'Stairlift and Used Stairlift Removal Burnley | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Burnley area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Burnley</h2>
            <p>Burnley is a market town in Lancashire, surrounded mostly by lovely countryside. Burnley has some of the most beautiful and historic buildings, but a common issue for our customers is that due to older houses the houses are steep and stairs difficult to manage. If you live in Burnley and need to remove your stairlift to replace it with a better model, please get in touch to see how much you could receive for your old stairlift.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Burnley.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Burnley' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our previous jobs in Burnley</h3>
            <p>We had a customer call us very reluctantly as they had bought a house and were unaware of how expensive a removal can be and had been quoted more than £300.00 for the removal alone. We were able to advise the customer that a removal can be free, if the right company is contacted like We Buy Any Stairlift. We were able to offer a free removal, as well as £150.00 in cash for the old stairlift which the customer had no use for and had paid no expense for, so she was delighted.</p>

            <p>“Just want to say a big thank you to everyone I dealt with, everyone was really helpful. We did not know much about the stairlift we had as just bought the house, so didn’t know what to expect but they went through everything and gave me some good advice. Found this was the best advice and quote after speaking to several companies. Thanks again.” </p>

            <p>Katie, Burnley</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Burnley' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Burnley' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
