<% provide(:title, 'Stairlift and Used Stairlift Removal Burton | We Buy Any Stairlift') %>
<% provide(:description, 'If you need quick and efficient stairlift removal, contact us on 0800 177 7266 to see how we can help you. We specialise in Stairlift removals in the Burton area so speak to one of the team today!') %>

<div class="container">

    <!-- Heading Row -->
    <div class="row">

        <div class="col-md-7 col-md-push-5">
            <h1>We Buy Any Stairlift</h1>
            <h2 class="home-subtitle">Welcome to We Buy Any Stairlift Burton</h2>
            <p>Burton-upon-trent, or more known as simply Burton, is a large town in East Stafordshire. Properties in the area are known for their beautiful designs, some being built as early as the 1800’s. New home owners who purchase older buildings are one of our main clients in the area, as unwanted stairlifts are common.</p>

            <%= link_to 'Enquire Now!', '/contact-us', class: 'btn btn-primary btn-md' %>
            <%= link_to 'Leave us Feedback!', '/contact-us#feedback', class: 'btn btn-primary btn-md' %>
        </div>

        <div class="col-md-5 col-md-pull-7">
            <%= image_tag 'locations/Burton.png', class: 'img-responsive full-width tablet-mtop mobile-mtop', alt: 'Burton' %>
        </div>

    </div>

    <div class="row mtop">

        <div class="col-md-7">
        <h3 class="home-subtitle">Our experiences in Burton</h3>
            <p>Our recent customer from Burton was concerned that companies were going to ‘scam’ him by adding administrative fees and extras on arrival, but we were able to put his mind at ease. Our experienced professionals attended the appointment, with all necessary tools needed to remove and tidy the space where the removal took place. We were in and out of the property within 40 minutes, and our customer received the payment in cash exactly as promised. No ifs, no buts.</p>

            <p>“I was pleased with the amount offered as it was an old stairlift I was not sure if I could make any money back, but we were happy with what was offered and there wasn’t any hidden removal fees or anything dodgy.”</p>

            <p>Clive, Burton</p>
        </div>

        <div class="col-md-5">
            <%= image_tag 'stairlift_main.jpg', class: 'img-responsive full-width', alt: 'Stairlift Removal Burton' %>
            <%= image_tag 'stairlift_4.png', class: 'img-responsive mtop-ten full-width', alt: 'Stairlift Removal Burton' %>
        </div>

    </div>

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                If you have any enquiries email us at <span class="large-contact"><%= mail_to "info@webuyanystairlift.org.uk" %></span><br>
                Or alternatively please ring us on <br class="display-mob"><span class="large-contact"><%= tel_to "0800 177 7266" %></span> (Free from mobile phones). Leave a message and we’ll get back to you within 24 hours!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
